PORT=5000

NODE_ENV=development

MONGO_URI=YOUR_MONGO_URI
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_test_email@gmail.com
EMAIL_PASS=your_app_password_here

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret